@model IEnumerable<MVCProjesi.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("New Order", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Email)



        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Adres)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)

        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProdName)
        </td>
        <td>
            @Html.DisplayFor(modelItemd => item.Customer.Email)
        </td>  
        <td>
            @Html.DisplayFor(modelItemd => item.Customer.Adres)


        </td>
        <td>
            @Html.DisplayFor(modelItemd => item.OrderID)


        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
